.xcape
.xprofile
Thunar
bspwm/scratch
chromium/
configstore/
deluge/
gtk-2.0/
htop/
i3/
menus/
mpd/data
mpd/database
mpd/log
mpd/pid
mpd/state
mpd/sticker.sql
polybar/battery-combined-dev.pid
polybar/config-i3
pulse/
xfce4/
ranger/bookmarks
