# garbage files
mpd/log
mpd/pid
mpd/state
mpd/database
polybar/battery-combined-udev.pid
ranger/bookmarks

# Ignore everything except these files/dirs
*
!.bashrc
!.bash_profile
!bspwm/
!cava/
!compton/
!conky
!dunst
!feh
!i3
!mpd
!mpv
!mupdf
!neofetch
!polybar
!ranger
!.Xresources
