! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #ffffff

! black
*.color0:       #151515
*.color8:       #808080

! red
*.color1:       #ff0000
*.color9:       #ff0000

! green
*.color2:       #33ff00
*.color10:      #33ff00

! magenta
*.color3:       #ff00ff
*.color11:      #ff00ff

! soft blue
*.color4:       #1085d7
*.color12:      #1085d7

! pink
*.color5:       #f996e2
*.color13:      #f996e2

! cream
*.color6:       #ffe863
*.color14:      #ffe863

! white
*.color7:       #d0d0d0
*.color15:      #ffffff
